@font-face{
font-family:peyda;
    src: url(YEKAN/Persian-Yekan.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:peyda;
    font-siza:16px;
}

.progress-container {
    width: 100%;
    height: 5px;
    background: #f3f3f3;
    position: fixed;
    top: 0;
    right: 0;
    direction: rtl;
    z-index: 9999; /* بالاترین مقدار زنجیره برای قرار گرفتن بالای سایر عناصر */
}

.progress-bar {
    height: 5px;
    background-color: #61dafb;
    width: 0%;
    float: right;
    transition: width 0.2s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #61dafb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #61dafb;
    margin: 0 auto;
    text-align: center;
}

.header {
    border-radius: 10px;
    background-color: #414857;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

nav {
    background-color: #414857;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-bottom: 1px solid #414857;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

nav ul li a:hover {
    background-color: #414857;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.search-form {
    display: flex;
}

.search-form input {
    all: unset;
    width: 200px;
    padding: 5px;
    background-color: #555;
    color: white;
    border-radius: 5px 0 0 5px;
}

.search-form button {
    all: unset;
    background-color: #555;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-form button i {
    color: white;
}

.main {
    display: block;
    padding: 20px;
}

h2 {
    margin-right: 20px;
    margin-top: 4px;
    text-align: right;
    margin-bottom: 20px;
}

h3 {
    color: rgb(255, 255, 255);
}

h4 {
    color: #999999;
}

hr {
    margin-top: 23px;
    color: burlywood;
}

.scrol {
    display: flex;
    overflow-x: auto;
    padding-left: 10%;
    scrollbar-color: #61dafb #000000;
    scrollbar-width: thin;
    white-space: nowrap;
}

.scrol::-webkit-scrollbar {
    height: 8px;
}

.scrol::-webkit-scrollbar-thumb {
    background-color: #61dafb;
    border-radius: 10px;
}

.qaleb {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: #ff0000;
    opacity: 0;
}

.qaleb.visible {
    animation: fadeIn 1s forwards; /* طول مدت انیمیشن */
    position: relative;
    z-index: 1; 
}

.qaleb:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #242222;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footertext {
    margin: 0;
}

span {
    margin-bottom: 32px;
    background-color: #282c34;
    text-align: center;
    border-radius: 10px;
}

span:hover {
    background: #555555;
}

.lfoter {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

@media (min-width: 600px) {
    .menu-icon {
        display: none;
    }

    nav {
        position: static;
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        border: none;
    }

    nav ul li a {
        padding: 10px 20px;
    }

    .hidden {
        display: flex;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
